{{ '=' * project_name|length }}
{{ project_name }}
{{ '=' * project_name|length }}

.. toctree::
   :maxdepth: 2
   :caption: Contents

   decision-log


Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
